body {
  background-color: #e8e8e8;
  font-family: "微软雅黑","Arial","Helvetica","sans-serif";
}
#content {
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: #fff;
  min-height: 200px;
}

#main-menu {
  position: fixed;
  top: 1em;
  z-index: 2014;
}
#main-menu .menu-magic {
  z-index: 2015;
  position: relative;
  top: -0.5em;
  left: 0.5em;
  display: block;
  float: left;
  background-color: transparent;
  color: red;
}

.blog-entry-list .entry-title,
.blog-entry .entry-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 6px;
  text-align: center;
}
.blog-entry .entry-title {
  font-size: 2.5em;
}

.haha-entry-list .entry-title {
  font-weight: bold;
}

.entry-date {
  text-align: center;
  color: #999;
  margin-bottom: 20px;
}
.see-more {
  margin-left: 10px;
}
