/* comm */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon:empty {
  width: 1em;
}

/* layout */
body {
  font-family: "Microsoft Yahei","微软雅黑","Arial","Helvetica","sans-serif";
  background-color: #e8e8e8;
}
#wrapper {
  background-color: white;
  width: 960px;
  margin: 15px auto;
  border-radius: 8px;
  position: relative;
}
#body {
  margin: 70px 20px 50px 20px;
  min-height: 200px;
}
#header {
  position: fixed;
  top: 1em;
  z-index: 2014;
  background-color: #333;
  color: white;
  border-radius: 3px;
  border-top: 1px solid yellow;
}

#header .header-magic {
  z-index: 2015;
  position: absolute;
  display: block;
  float: left;
  background-color: transparent;
  color: red;
  font-weight: bold;
}

#header ul li {
  float: left;
  padding: 10px;
}
#header ul li a {
  color: #999;
}
#header ul li.active {
  background-color: black;
}
#header ul li.active a {
  color: #fff;
}

#footer {
    text-align: center;
    background-color: #555;
    color: #ddd;
}

.blog-entry-list .entry-title,
.blog-entry .entry-title {
  font-size: 1.5em;
  margin-bottom: 6px;
  margin-left: 6px;
  text-align: center;
  color: #2C3E50;
}
.blog-entry .entry-title {
  font-size: 2.0em;
  font-weight: bold;
}

.haha-entry-list .entry-title {
}

.entry-date {
  text-align: center;
  color: #999;
  margin-bottom: 20px;
}
.see-more {
  margin-left: 10px;
}
